/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*--------------------*/

body {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
.wrapper {
    height: 462px;
    width: 621px;
    margin: 0 auto;
}
._container {
    padding: 14px 10px;
}
.content {
    border: 1px solid #000;
}
/* голова страницы */
.content__search {
    width: 100%;
    padding: 12px 10px 12px 15px;
    display: flex;
    border-bottom: 1px solid #000;
}
.search__input {
    display: block;
    flex: 0 1 94.784%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #696969;
    padding-left: 5px;
}
.img-search {
    display: block;
    padding: 0px 15px 0px 5px;
    flex: 0 1 5.216%;
    width: 29px;
    height: 29px;
}
/* тело страницы */
.block {
    display: flex;
}
/* блок с табами */
.tabs {
    flex: 0 1 50%;
    border-right: 1px solid #000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.scoreboard {
    display: none;
}
.scoreboard:nth-child(1) {
    padding: 20px 18px;
}
.scoreboard:nth-child(1) .scoreboard__number {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.scoreboard:nth-child(1) .scoreboard__title-number {
    font-family: "Roboto", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.scoreboard:nth-child(1) img {
    width: 13px;
    height: 13px;
    display: block;
    margin-top: 15px;
    margin-left: 5px;
}
.scoreboard:nth-child(1) .scoreboard__main-icon {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreboard:nth-child(1) .scoreboard__main-icon img {
    width: 78px;
    height: 59px;
}
.scoreboard:nth-child(1) .scoreboard__title-city {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.scoreboard:nth-child(1) .scoreboard__title-city .title-city {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.scoreboard:nth-child(1) .scoreboard__title-city a {
    width: 22px;
    height: 22px;
    margin-bottom: 17px;
    margin-right: 10px;
}
.scoreboard:nth-child(1) .scoreboard__title-city a img {
    width: 22px;
    height: 22px;
}
.scoreboard:nth-child(2) {
    padding: 20px 18px;
}
.scoreboard:nth-child(2) .scoreboard__title {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
}
.scoreboard:nth-child(2) .scoreboard__title h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.scoreboard:nth-child(2) .scoreboard__ul {
    width: 100%;
    max-height: 220px;
    margin-top: 35px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scoreboard:nth-child(2) .scoreboard__ul::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.scoreboard:nth-child(2) .scoreboard__ul ul {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.scoreboard:nth-child(2) .scoreboard__ul ul li {
    padding-bottom: 10px;
}
.scoreboard:nth-child(3) {
    padding: 20px 18px;
}
.scoreboard:nth-child(3) .scoreboard__title {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.scoreboard:nth-child(3) .scoreboard__title h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.scoreboard:nth-child(3) .scoreboard__items {
    max-height: 219px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scoreboard:nth-child(3) .scoreboard__items::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.scoreboard:nth-child(3) .scoreboard__items .time {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    height: 183px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 10px;
}
.scoreboard:nth-child(3) .scoreboard__items .time .soom {
    display: flex;
    justify-content: space-between;
}
.scoreboard:nth-child(3) .scoreboard__items .time .soom span {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.scoreboard:nth-child(3) .scoreboard__items .time .status {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.scoreboard:nth-child(3) .scoreboard__items .time .status .status-temperature ul {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.scoreboard:nth-child(3) .scoreboard__items .time .status .status-temperature ul li {
    padding: 4px;
}
.scoreboard:nth-child(3) .scoreboard__items .time .status .status-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 58px;
    margin-top: 3px;
}
.scoreboard:nth-child(3) .scoreboard__items .time .status .status-icon span {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.scoreboard:nth-child(3) .scoreboard__items .time .status .status-icon img {
    width: 31px;
    height: 31px;
}
.scoreboard:target {
    display: block;
}
.tabs__items {
    height: 45px;
    display: flex;
    border-top: 1px solid #000;
}
.tabs__item {
    flex: 0 1 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #968f8f;
}
.tabs__item span {
    position: relative;
    z-index: 10;
}
.tabs__item:not(:last-child) {
    border-right: 1px solid #000;
}
.tabs__item:hover {
    background-color: #e4dcdc;
    color: #000;
}
.scoreboard:nth-child(1)::before {
    content: "";
    height: 45px;
    width: 33.333%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
.scoreboard:nth-child(2)::before {
    content: "";
    height: 45px;
    width: 33.333%;
    position: absolute;
    bottom: 0;
    left: 33.333%;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
.scoreboard:nth-child(3)::before {
    content: "";
    height: 45px;
    width: 33.333%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
/* блок простой */
.cities {
    flex: 0 1 50%;
}
.cities__locations {
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #000;
    position: relative;
}
.cities__title {
    position: absolute;
    bottom: 7px;
    left: 18px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.list {
    padding: 35px 18px;
    min-height: 315px;
    max-height: 315px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.list::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.list__city li {
    padding-bottom: 10px;
}
.list__city li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.list__city li a:hover {
    color: #696969;
}
